<h3 id="server_rendering">Content-Type (Mime type)</h3>
<ul>
  <li>text/plain</li>
  <li><b>text/html</b></li>
  <li>image/jpeg</li>
  <li>application/javascript</li>
  <li><b>application/json</b></li>
  <li>application/pdf</li>
  <li>application/xml</li>
</ul>

<h3>Embedded Server Code</h3>
Consider: <br />
The time is: <%= Time.now %>
<script src="https://gist.github.com/Sailias/a91f77a1716609d04ab0.js"></script>