<h1 id="client_side">More client side functionality</h1>
<p>
  Personal computers and therefore browsers were always much slower than their web server counterparts.
  As personal power increases, more and more processing is capable on the "client side", in the browser itself.
</p>

<h3>Single Page Applications</h3>
<p>
  A web application that fits on a single web page that provides a fluid user experience. <br />
  All HTML, CSS, and JavaScript is loaded all at ones, or is dynamically loaded as needed.
  JavaScript frameworks are used to provide extensive functionality without having to "re-render" the page
  or make requests to the server.
</p>

<h3 id="client_frameworks">Client-side Frameworks</h3>

<img class="AngularJS-large" src="https://angularjs.org/img/AngularJS-large.png" width="200px"><br />
<img id="logo" src="http://backbonejs.org/docs/images/backbone.png" alt="Backbone.js" width="200px">