<section id="css">
  <h2>Cascading Style Sheets</h2>
  <p>
    A language for describing the look and feel of documents written in a markup language.
  </p>

  Here is an example of CSS code: <br />
  <script src="https://gist.github.com/Sailias/c03e52b32e2a86ba7cc2.js"></script>

  <p>
    This defines the font size for all <b>paragraph</b> tags.
  </p>

  <%= render "welcome/css/basics" %>
  <%= render "welcome/css/css_demo" %>
  <%= render "welcome/css/responsive" %>
  <%= render "welcome/css/bootstrap" %>
</section>