<h1 id="html">HyperText Markup Language</h1>
<h3>What is HTML?</h3>

<p>
  Let's see some: <br />
  <ol>
    <li>Open Google Chrome</li>
    <li>Navigate to http://airmiles.functionalimperative.com</li>
    <li>Hit <b>F12</b></li>
  </ol>
</p>

<p>
  HTML is a language which is used to annotate a document in way that is distinguishable from text. <br />
  XML and HTML are both <b>markup languages</b>.  XML is used for data transfer, HTML is used for data display.
</p>

<h3>HTML Tags</h3>
<p>
  In atomic design the most granular object was an atom.  In HTML this would be a "tag." <br />
  Examples:
  <dl class="dl-horizontal">
    <dt>html</dt>
    <dd>The top most tag.  Defines this document as an html document.</dd>

    <dt>head</dt>
    <dd>Information for the browser.  Title, css file locations, javascript file locations, keywords etc...</dd>

    <dt>body</dt>
    <dd>The visible part of the html document.  All content goes inside the body.</dd>

    <dt>div</dt>
    <dd>A block element.  Defines a division or a section of the document.  The main html element.</dd>

    <dt>span</dt>
    <dd>Used to group inline elements.  Provides no visual change itself.</dd>

    <dt>br</dt>
    <dd>A line break.</dd>

    <dt>p</dt>
    <dd>A paragraph.  Has line breaks before and after it by default.</dd>

    <dt>b</dt>
    <dd>bold text</dd>
  </dl>
</p>