<h1 id="introduction">Introduction</h1>
<!-- <p>
  This is an instructional site created by <%= link_to "Functional Imperative", "http://www.functionalimperative.com" %> for
  <%= link_to "LoyaltyOne", 'http://www.loyalty.com/coalition-loyalty/air-miles/' %>.
</p> -->

<p>In this site you will find information on HTML, CSS, Responsive Design, and Testing.</p>