<section id="javascript">
  <h2>Javascript</h2>
  <p>
    A dynamic programming language invented in 1995 within the span of a week at Netscape. Also known as ECMAScript, it is used to do client side scripting as it is the only programming language available that is consistently available across all browsers.

    More recently, it has also become quite popular to run web servers using Javascript, in an implementation known as Node.js. This has become more common as Javascript's popularity means more developers already are familiar with the stack.
  </p>

  Here is an example of Javascript code: <br />
  <script src="https://gist.github.com/JBorts/d81ac33150d31666e330.js"></script>

  <p>
    In a browser, Javascript is used to interact with the HTML/CSS. In order to select HTML Elements, we can use a plugin called JQuery.
  </p>
  Here are some examples:
  <script src="https://gist.github.com/JBorts/8cd59484c32f1564686b.js"></script>

  <h3>Jquery</h3>
  <p>
    A lightweight library written in JavaScript that makes manipulating web pages easy.
    Millions of web sites use jQuery and is a cornerstone of the modern internet development.
  </p>

</section>