<h2>Web Security</h2>
<embed
  type="application/x-shockwave-flash"
  src="http://www.wimp.com/player.swf" width="560" height="440" style="undefined" id="mediaplayer" name="mediaplayer" quality="high" allowfullscreen="true" wmode="opaque" allowscriptaccess="always" flashvars="width=560&amp;height=440&amp;&amp;fullscreen=true&amp;file=http://jake.sisko.wimp.com/loadvideo/04337103d8c6fa126ee2f7d797ad3a64/538e2a11/web-videos/c84fe02b68d434ae180b92b6a1222422_encryption.flv">