<section id="server_code">
  <h1>Server side functionality</h1>

  <h3>Web 2.0</h3>
  <p>
    Not an upgrade in any technical specification but a content switch from static content to dynamic content.
    Websites backed by code evaluated and executed on the server to provide a richer user experience.
  </p>

  <h3>Programming languages</h3>

  Examples: <br/>
  <dl class="dl-horizontal">
    <dt>COBOL</dt>
    <dd>1961</dd>

    <dt>C</dt>
    <dd>1972</dd>

    <dt>SQL</dt>
    <dd>1972</dd>

    <dt>Objective-C</dt>
    <dd>1983</dd>

    <dt>Visual Basic</dt>
    <dd>1991</dd>

    <dt>Java</dt>
    <dd>1995</dd>

    <dt>PHP</dt>
    <dd>1995</dd>

    <dt>Ruby</dt>
    <dd>1995</dd>

    <dt>Javascript</dt>
    <dd>1995</dd>

    <dt>C#</dt>
    <dd>2000</dd>

    <dt>Swift</dt>
    <dd>2014</dd>
  </dl>

  <%= render "server_demo" %>

</section>