<section id="server_code">
  <h1>Server side functionality</h1>

  <h3>Web 2.0</h3>
  <p>
    Not an upgrade in any technical specification but a content switch from static content to dynamic content.
    Websites backed by code evaluated and executed on the server to provide a richer user experience.
  </p>

  <%= render "welcome/server/languages" %>
  <%= render "welcome/server/rendering" %>
  <%= render "welcome/server/demo" %>

</section>