<h2 id="css_bootstrap">Bootstrap</h2>
<p>
  Created by members at Twitter to encourage consistency in internal projects.
  It is the number 1 project on Github with 65,000+ stars. <br />
  It is a responsive front-end framework that has a free collection of tools for creating and styling websites.
</p>

<h3>Grid system</h3>

<div class="row show-grid">
  <div class="col-md-1">1</div>
  <div class="col-md-1">1</div>
  <div class="col-md-1">1</div>
  <div class="col-md-1">1</div>
  <div class="col-md-1">1</div>
  <div class="col-md-1">1</div>
  <div class="col-md-1">1</div>
  <div class="col-md-1">1</div>
  <div class="col-md-1">1</div>
  <div class="col-md-1">1</div>
  <div class="col-md-1">1</div>
  <div class="col-md-1">1</div>
</div>
<div class="row show-grid">
  <div class="col-md-8">8</div>
  <div class="col-md-4">4</div>
</div>
<div class="row show-grid">
  <div class="col-md-4">4</div>
  <div class="col-md-4">4</div>
  <div class="col-md-4">4</div>
</div>
<div class="row show-grid">
  <div class="col-md-6">6</div>
  <div class="col-md-6">6</div>
</div>

<h3>Buttons</h3>
<!-- Standard button -->
<button type="button" class="btn btn-default">Default</button>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary">Primary</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success">Success</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info">Info</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning">Warning</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger">Danger</button>

<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<button type="button" class="btn btn-link">Link</button>