<h2 id="css_responsive">Responsive</h2>
<p>
  Responsive Web Design aims at making web more accessible across multiple screen sizes/devices.
</p>

<h3>Not Responsive</h3>
<div style='width: 1200px; height: 300px;'>
  <div style='float: left; width: 600px; height: 300px; background-color: #03a8ab'>&nbsp;</div>
  <div style='float: left; width: 600px; height: 300px; background-color: #ffbd1b'>&nbsp;</div>
</div>

<h3>Responsive</h3>
<div style='float: left; width: 50%; height: 300px; background-color: #03a8ab'>&nbsp;</div>
<div style='float: left; width: 50%; height: 300px; background-color: #ffbd1b'>&nbsp;</div>
<div style='clear: left'>&nbsp;</div>

<h3>What makes something responsive?</h3>

<p>
  Fluid layouts use percentages rather than fixed widths such as pixels, this is called a <b>Fluid Grid</b>.
  It allows containers to scale based on screen size.
</p>

<ul class="nav nav-tabs">
  <li class='active'><a href="#demo_non_responsive" data-toggle="tab">Non-Responsive</a></li>
  <li><a href="#demo_responsive" data-toggle="tab">Responsive</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="demo_non_responsive">
    <pre>
      <xmp>
        <div style='width: 1200px; height: 300px;'>
          <div style='float: left; width: 600px; height: 300px; background-color: #03a8ab'>&nbsp;</div>
          <div style='float: left; width: 600px; height: 300px; background-color: #ffbd1b'>&nbsp;</div>
        </div>
      </xmp>
    </pre>
  </div>
  <div class="tab-pane" id="demo_responsive">
    <pre>
      <xmp>
        <div style='float: left; width: 50%; height: 300px; background-color: #03a8ab'>&nbsp;</div>
        <div style='float: left; width: 50%; height: 300px; background-color: #ffbd1b'>&nbsp;</div>
      </xmp>
    </pre>
  </div>
</div>